:root {
    --results-columns: 2;
}

.container {
    display: grid; 
    min-height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: center;
    grid-template-rows: masonry;
}

.container-item {
    background-color: #eee;
    display: inline-block;
    width: 100%;
}

.img {
    width: 20vw;
    height: 20vh;
}

@media (min-width: 600px) {
    :root {
        --result-columns: 3;
    }
}

@media (min-width: 800px) {
    :root {
        --results-colums: 4;
    }
}